*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    width: 100%;
    background: #000;
    font-family: consolas;
}
#logo{
    width:40px;
    height: 40px;
    position: relative;
    left: 30px;
}
.top{
    position: relative;
    /* bottom: 200px;
    left: 213px; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
}
.top h2{
    color: white;
    padding-left: 34px;
}
.container {
    position: relative;
    width: 450px;
    min-height: 360px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    left: 37vw;
    top: 16vh;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.container::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff0047, #6eff00);
    pointer-events: none;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        filter: blur(60px) hue-rotate(0deg);
    }
    100% {
        filter: blur(60px) hue-rotate(360deg);
    }
}

.form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}

.form h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 0;
    font-family: consolas;
}

::placeholder {
    color: #eee;
}

.form .inputBox input[type="button"] {
    background: #fff;
    color: #000;
    border: none;
    font-weight: 900;
    /* max-width: 100px; */
    cursor: pointer;
    text-align: center;
}

.form p {
    color: #eee;
    margin-top: 15px;
}
#btn:hover{
    background:rgb(4, 4, 255);
    color: white;
}

.form p a {
    color: #fff;
}
a{
    text-decoration: none;
}
@media (max-width: 767px)
{
    .container{
        width:90vw;
        position: relative;
        left: 5%;
        top: 50vw;
    }
    .top{
        top: 40vw;
    }
}