body{
    background: #222;
    overflow: hidden;
}
i{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #0f0;
    pointer-events: none;
    animation: animate 0.4s linear forwards;
}

@keyframes animate
{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
